* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER CSS */
.header-container {
    background-color: brown;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container nav {
    margin-right: 30px;
}

.header-container nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #FFF;
}

.header-container nav a:hover {
    text-decoration: underline;
}

.header-container img {
    height: 150px;
    width: 200px;
    margin-top: -16px;
}

.banner {
    background-image: url(../images/comida-mineira2.png);
    width: 100vw;
    height: 420px;
}

.banner-rgba {
    background-color: rgba(0, 0, 0, 0.3);
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-rgba h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

.banner-rgba p {
    font-weight: 400;
}

.banner-rgba h1,
.banner-rgba p {
    color: #FFF;
    font-size: 33px;
}