* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* PAGE CONTAINER */
.container {

}


/* SECTION PATTERNS */
section {
    padding: 33px;
}

h2 {
    color: #444;
}


/* BANNER CSS */
.banner {
    background-image: url(../images/comida-mineira2.png);
    width: 100vw;
    height: 420px;
}

.banner-rgba {
    background-color: rgba(0, 0, 0, 0.3);
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-rgba h1 {
    font-weight: 600;
}

.banner-rgba p {
    font-weight: 400;
}

.banner-rgba h1,
.banner-rgba p {
    color: #FFF;
    font-size: 33px;
}




/* SECTION CULINARIA */
.culinaria {
    color: #444;
    padding: 33px;
}

.underline {
    background-color: brown;
    height: 3px;
    width: 111px;
}


/* SECTION NOSSOS SERVICOS */
.nossos-servicos {
    background-color: brown;
}

.nossos-servicos h2 {
    color: #fff;
}

.nossos-servicos .underline {
    background-color: #777;
}

.nossos-servicos p {
    color: #ccc;
}


/* SECTION CHEFS */
.chefs h2 {
    color: #444;
}



/* SECTION CONTATO */
textarea {
    width: 400px;
    height: 150px;
    resize: none;
}

.texto {
    width: 400px;
    height: 30px;
}




/* DOCES PAGE */
.container-doces {
    display: flex;
    justify-content: center;
}

.content-container {
    width: 85vw;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;

    padding: 80px;


}

#goiabada {
    width: 200px;
    height: 100px;
    margin-right: 16px;
    margin-bottom:3px;
    margin-top: 10px;
}

.content-container h2 {
    margin-bottom: 5px;
}


.content-container p {
    margin-bottom: 10px;
}

.botao-carrinho {
    color: #000;
    
    text-decoration: none;
   
    border: 1px solid #777;
    
    background-color: #ccc;
    
    padding: 5px;
    margin-bottom: 10px;
    
    cursor: pointer;

    border: none;
}