* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 586px) and (max-width: 646px) {
    .banner {
        text-align: center;
    }
}

@media (min-width: 584px) and (max-width: 756px) {
    .header-container nav {
        text-align: center;
    }
}

@media (max-width: 585px) {
    .header-container nav {
        display: none;
    }

    textarea {
        width: 255px;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    /* Fullscreen */
    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;

        background-color: brown;

        width: 100vw;
        height: 60vh;

        z-index: 10;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 8px)
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px)
    }
    
    .menu-section.on nav {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .menu-section.on nav a {
        transition-duration: 0.5s;
        font-size: 20px;
        margin-bottom: 25px;
    }

    /* Inputs */

    .formulario input[type=text],
    .formulario input[type=email] {
        width: 80vw;
    }

    .formulario .phone {
        width: 80vw;
    }

    .formulario textarea {
        width: 80vw;
    }
}

@media (min-width:361px) and (max-width:585px) {
    /* HEADER CSS */
    .header-container nav {
        display: none;
    }

    /* BANNER CSS */
    .banner {
        width: 100vw;
    }

    .banner h1,
    .banner p {
        font-size: 30px;
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 360px) {
    /* HEADER CSS */
    .header-container nav {
        display: none;
    }


    /* BANNER CSS */
    .banner {
        width: 100vw;
    }

    .banner h1,
    .banner p {
        font-size: 26px;
        text-align: center;
    }
}

@media (max-width: 320px) {
    
    /* HEADER CSS */
    .header-container nav {
        display: none;
    }

    /* BANNER CSS */
    .banner {
        width: 100vw;
    }

    .banner h1,
    .banner p {
        font-size: 23px;
        text-align: center;
    }
}

